<ion-header>
  <ion-toolbar>
    <ion-title>
      <app-header-uninassau></app-header-uninassau>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo-centralizado">Imprimir Relatório</ion-card-title>
    </ion-card-header>
    <ion-card-content class="centralizar">
      <ion-button class="botao-alerta" (click)="abrirSelecaoPeriodo()">Imprimir</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
