<ion-header>
  <ion-toolbar>
    <ion-title>
      <app-header-uninassau></app-header-uninassau>
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-img src="assets/icon/totem.jpg" alt="Totem de Senhas"></ion-img>
    <ion-card-content>
      Este aplicativo foi desenvolvido como parte da avaliação para a disciplina de Desenvolvimento Móvel.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Informações do Desenvolvedor</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-img src="assets/icon/foto.png" alt="Foto do Desenvolvedor" class="foto-desenvolvedor"></ion-img>
      <br>
      Nome: Marlon Valadão<br>
      Matrícula: 01785018<br>
      Curso: Análise e Desenvolvimento de Sistemas<br>
      Professor: João Ferreira<br>
      Versão: 1.0
    </ion-card-content>
  </ion-card>
  
  

</ion-content>
